{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <div class="login-form">
        <div class="htmleaf-container" style="height: 200px;">
		    <table id="miyazaki">
			<!-- <caption>The Films of Hayao Miyazaki</caption> -->
			<thead>
			<tr><th>姓名<th>与本人关系<th>工作单位<th>职务<th>政治面貌<th>联系电话
			<tbody>
        {% for par in parent %}
            <tr>
			<td>{{ par.name }}
			<td>{{ par.relation_of_student }}
			<td>{{ par.work_location }}
			<td>{{ par.post }}
			<td>{{ par.Political_level_p }}
			<td>{{ par.phone_number }}
			<tr>
        {% endfor %}
            </table>
	    </div>
    <div class="massage_add">
        <a href="{% url 'Pmas_add' %}"><span>添加信息</span></a>
    </div>
    </div>
{% endif %}
    <style>
    .massage_add{
        margin-left: 47%;
        margin-top: 2%;
    }
	table#miyazaki {
	  margin: 0 auto;
	  border-collapse: collapse;
	  font-family: Agenda-Light, sans-serif;
	  font-weight: 100;
	  background: #333; color: #fff;
	  text-rendering: optimizeLegibility;
	  border-radius: 5px;
	}
	table#miyazaki caption {
	  font-size: 2rem; color: #444;
	  margin: 1rem;
	  /* background-image: url(img/miyazaki.png), url(img/miyazaki2.png); */
	  background-size: contain;
	  background-repeat: no-repeat;
	  background-position: center left, center right;
	}
	table#miyazaki thead th { font-weight: 600; }
	table#miyazaki thead th, table#miyazaki tbody td {
	  padding: .8rem; font-size: 1.4rem;
	}
	table#miyazaki tbody td {
	  padding: .8rem; font-size: 1.4rem;
	  color: #444; background: #eee;
	}
	table#miyazaki tbody tr:not(:last-child) {
	  border-top: 1px solid #ddd;
	  border-bottom: 1px solid #ddd;
	}

	@media screen and (max-width: 600px) {
	  table#miyazaki caption { background-image: none; }
	  table#miyazaki thead { display: none; }
	  table#miyazaki tbody td {
	    display: block; padding: .6rem;
	  }
	  table#miyazaki tbody tr td:first-child {
	    background: #666; color: #fff;
	  }
		table#miyazaki tbody td:before {
	    content: attr(data-th);
	    font-weight: bold;
	    display: inline-block;
	    width: 6rem;
	  }
	}
	</style>


	<script>
	var headertext = [], headers = document.querySelectorAll('#miyazaki th'), tablerows = document.querySelectorAll('#miyazaki th'), tablebody = document.querySelector('#miyazaki tbody');
	for (var i = 0; i < headers.length; i++) {
	    if (window.CP.shouldStopExecution(1)) {
	        break;
	    }
	    var current = headers[i];
	    headertext.push(current.textContent.replace(/\r?\n|\r/, ''));
	}
	window.CP.exitedLoop(1);
	for (var i = 0, row; row = tablebody.rows[i]; i++) {
	    for (var j = 0, col; col = row.cells[j]; j++) {
	        col.setAttribute('data-th', headertext[j]);
	    }
	}
	</script>
{% endblock %}