{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
{% if user.is_authenticated %}
    <div class="login-form">
        <form method="post" role="form" class="form-horizontal">
            {% csrf_token %}
            {{ form.name|bootstrap_horizontal }}
            {{ form.relation_of_student|bootstrap_horizontal }}
            {{ form.work_location|bootstrap_horizontal }}
            {{ form.post|bootstrap_horizontal }}
            {{ form.Political_level_p|bootstrap_horizontal }}
            {{ form.phone_number|bootstrap_horizontal }}
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-primary" style="width: 100px;margin-left: 35%    ">提交</button>
            </div>
        </form>
    {% else %}
    <div>
        <p>您尚未登录请</p>
        <a href="/">登录</a>
    </div>
    </div>
{% endif %}
{% endblock %}

