<!DOCTYPE html>
<html lang="zh-han">
<head>
    {% load static %}
	<title>注册</title>
	<!-- meta-tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
{#zhuyi#}
{#    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" media="all"/>#}
{#	<link rel="stylesheet" type="text/css" href="/static/css/default.css" media="all">#}
	<!-- //meta-tags -->
	<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome -->
	<link href="/static/css/font-awesome.css" rel="stylesheet">
{#    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">#}

	<!-- fonts -->
{#	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"#}
{#	    rel="stylesheet">#}
{#	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">#}

</head>

<body>
	<!-- header -->
	<div class="header-top">
		<div class="container">
			<div class="bottom_header_left">
				<p>
					<span class="fa fa-map-marker" aria-hidden="true"></span>长春, CHINA
				</p>
			</div>
			<div class="bottom_header_right">
				<div class="header-top-righ">
					<a href="{% url 'login' %}">
						<span class="fa fa-sign-out" aria-hidden="true"></span>登录</a>
				</div>

				<div class="header-top-righ">
                    <a href="{% url 'logout' %}">
                        <span class="fa fa-sign-out">注销</span>
                    </a>
                </div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="header">
		<div class="content white">
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html">
							<h1>
								<span class="fa fa-leanpub" aria-hidden="true"></span>长春工业大学少数民族学生信息管理系统
								<label>Student & Manage</label>
							</h1>
						</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav">
								<li>
									<a href="{% url 'index' %}" class="effect-3">主页</a>
								</li>
								<li>
									<a href="{% url 'stu_page' %}" class="effect-3">个人信息</a>
								</li>
								<li>
									<a href="{% url 'p_show' %}" class="effect-3">家庭信息</a>
								</li>
								<li>
									<a href="{% url 'up_show' %}" class="effect-3">年度信息</a>
								</li>
								<li>
									<a href="{% url 'gr_show' %}" class="effect-3">毕业就业</a>
								</li>
								<!-- <li>
									<a href="contact.html" class="effect-3">Contact Us</a>
								</li> -->
							</ul>
						</nav>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<!-- banner -->
	<div class="inner_page_agile">

	</div>
	<!--//banner -->
	<!-- short-->
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">
			<ul class="short_ls">
				<li>
					<a href="index.html">Home</a>
					<span>| |</span>
				</li>
				<li>Register</li>
			</ul>
		</div>
	</div>
	<!-- //short-->
	<div class="register-form-main">
        {% block content%}
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>R</span>egister
					<span>F</span>orm
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="login-form">
				<form action="#" method="post">
					<div class="">
						<p>学号 </p>
						<input type="text" class="name" name="user name" required="" />
					</div>
					<div class="">
						<p>邮箱</p>
						<input type="email" class="password" name="email" required="" />
					</div>
					<div class="">
						<p>密码</p>
						<input type="password" class="password" name="Password" id="password1" required="" />
					</div>
					<div class="">
						<p>确认密码</p>
						<input type="password" class="password" name="Password" id="password2" required="" />
					</div>
					<label class="anim">
						<input type="checkbox" class="checkbox">
						<span>I Accept Terms & Conditions</span>
					</label>
					<input type="submit" value="Register">
				</form>
			</div>
		</div>
        {% endblock %}
	</div>

	<!-- footer -->
	<div class="mkl_footer">
		<div class="sub-footer">
			<div class="container">
				<div class="mkls_footer_grid">
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>Location:</h4>
						<p>延安大街2055号长春工业大学,
							<br> 长春, CHINA</p>
					</div>
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>Mail Us:</h4>
						<p>
							<span>Phone : </span>001 234 5678</p>
						<p>
							<span>Email : </span>
							<a href="mailto:info@example.com">mail@example.com</a>
						</p>
					</div>
					<div class="col-xs-4 mkls_footer_grid_left">
                        <h4>Created by:</h4>
						<p>计算机科学与工程学院</p>
						<p>
							<span><a href="https://github.com/541573560">harry</a>&<a href="https://github.com/JackJinSong">Jack jin song</a></span>
						</p>>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="botttom-nav-allah">
				</div>
				<!-- footer-button-info -->
				<div class="footer-middle-thanks">
					<h2>长春工业大学学生处</h2>
				</div>
				<!-- footer-button-info -->
			</div>
		</div>

	</div>
	<!--/footer -->

	<!-- js files -->
	<!-- js -->
	<script src="/static/js/jquery-2.1.4.min.js"></script>
{#    <script src="/static/js/jquery-1.11.0.min.js"></script>#}
	<!-- bootstrap -->
	<script src="/static/js/bootstrap.js"></script>
	<!-- smooth scrolling -->
	<script src="/static/js/SmoothScroll.min.js"></script>
	<script src="/static/js/move-top.js"></script>
	<script src="/static/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<!-- //password-script -->
	<!-- //js-files -->

</body>

</html>
